<p> <strong>Task: </strong><%= todo.body %></p>
<p> <strong>Completed? </strong><%= todo.completed %> </p>
<p><strong># </strong><%=todo.id %></p>
<p><%= button_to "delete", { controller: "todos", action: "destroy", id:todo.id}, method: "delete" %></p>
