<ul>
<% todos.each do |todo| %>
<li>
<%= render partial: 'todo', locals: { todo: todo } %>
</li>
<% end %>

</ul>
<form action="/todos/" method="post">
  <div>
    <label for="text">Add Todo</todo>
    <input type="text" id="body" name="body">
  </div>
  <div class="button">
    <button type="submit">add my todo!</button>
  </div>
</form>
