body {
  font-family: "Helvitica", sans-serif;
  background: grey;
}

header {
background: blue;
padding: 10px;
text-align: center;
}

footer {
  font-family: "Helvitica", sans-serif;
  background: blue;
  padding: 10px;
  text-align: center;
}
