* {
  box-sizing: border-box;
}

body {
  font-family: "Helvitica", sans-serif;
  background: linear-gradient(grey, white);
}

header {
background-image: url(concrete_seamless.png);
padding: 20px;
text-align: center;
font-size: 22px;
}

footer {
  font-family: "Helvitica", sans-serif;
  background-image: url(concrete_seamless.png);
  padding: 20px;
  text-align: center;
  font-size: 22px;
}
