<!DOCTYPE html>
<html>
<head>
  <title>Todolist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header><nav class="header_nav">To do list <a href="/todos">all todos</a></nav></header>

<%= yield %>

<footer>copyright 2015. TYBG.</footer>
</body>
</html>
